@font-face {
    font-family: 'Ysabeau Office';
    src: url(./fonts/YsabeauOffice-VariableFont_wght.ttf);
}

.body{
    font-family: 'Ysabeau Office', sans-serif;
    margin-left: 100px;
    color: hsla(240, 80%, 12%,0.75);
    background-color: hsla(220, 82%, 46%,0.25);
}
.h1{
    font-size: 44px;
}
.h2{
    margin-top: 0;
}
.whole-site{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.about-me{
    width: 95%;
    font-size: 20px;
    font-weight: bold;
}
.fun-fact{
    text-align: center;
    color: hsla(240, 82%, 26%,0.75);
    font-size: 36px;
    width:90%;
    height: 10%;
    background-color: hsla(180, 67%, 54%, 0.8);
    padding: 10px;  
    vertical-align: auto;
}
.fun-fact p{
    text-align: center;
    margin:0;
    margin-top: 4px;
}
.icon{
    height: 63px;
    width:auto;
    padding-right: 10px;
}
.information{
    width:60%;
    min-width: 50%;
}  
.picture {
    width: 33%;
    height: 360px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.me{
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    max-height: 100%; /* Allow the height to adjust proportionally based on the image's aspect ratio */
}
.project{
    margin-top: 0;
}
.skills-container{
    max-width: 95%;
}
.contact h2{
    text-decoration: underline;
}
.contact{
    text-align: center;
}
.github, .mail, .discord{
    height: 50px;
    width: 50px; 
    padding-right: 25px;
    padding-left: 25px;    
}
.discord{
    height: 40px;
    margin-bottom: 5px;
}
.node{
    height: 10%;
    width: 10%;
}
 .html,.css,.java{
    height:7%;
    width: 7%;
 }
.right{
    font-size: 90%;
}
@media screen and (max-width: 844px) {/*ipads*/
    .skills-container{
        width: 90vw;
        max-width: none;
    }
}
@media screen and (max-width: 768px) {
    .app{
        align-items: center;
    }

    .whole-site {
      flex-direction: column-reverse; /* Change flex direction to vertical */
    }
    .body {
        margin-left:15px;
    }
    .information {
      min-width: auto; /* Reset the minimum width */
      width: 100%; /* Take up full width on smaller screens */
    }
    .picture{
      min-width: auto; /* Reset the minimum width */
      width: 100%; /* Take up full width on smaller screens */
      margin-bottom: 25px;
    }
  }
  